Importa dependencias

In [168]:
import pandas as pd
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt

Importa arquivo de Vinhos

In [169]:
path= r"C:\Users\luiz7\Documents\PosTech\TECHCHALLENGER_1"
df = pd.read_csv(path+r"\FILES\content\ExpVinho.csv", sep=';')
df=df.set_index(['País'])
df.drop(columns='Id', inplace=True)
display(df.head(5))

,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,1974,1974.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
África do Sul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,0,0,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
Angola,0,0,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
Anguilla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [170]:
df.drop('Brasil', inplace=True)

In [171]:
df.head(5)

,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,1974,1974.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
África do Sul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,0,0,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
Angola,0,0,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
Anguilla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
ano_analise = df.columns[76:]
df = df[ano_analise]
df

,2008,2008.1,2009,2009.1,2010,2010.1,2011,2011.1,2012,2012.1,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
África do Sul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
"Alemanha, República Democrática",265742,429970,225086,393482,27715,138666,36070,144150,8189,56342,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
Angola,25721,71083,54786,84235,33557,189891,13889,69001,2833,8861,...,10170,61680,477,709,345,1065,0,0,0,0
Anguilla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvalu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,4,0,0
Uruguai,0,0,0,0,914,2929,1238,4404,1135,3879,...,0,0,7711,29617,6180,18497,0,0,136774,149842
Vanuatu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,18,31,0,0
Venezuela,0,0,0,0,0,0,0,0,1029,7492,...,680,2646,71,355,0,0,4086,9808,26415,35944
Vietnã,0,0,743,2143,8820,9977,0,0,0,0,...,0,0,0,0,20,32,86,584,0,0

Cria dataFrames separados para quantidade e valor (cabecario duplica)

In [173]:
df=df.rename(columns=lambda c: c[:4]+"$" if c[4:] == '.1' else c)

In [174]:
df

,2008,2008$,2009,2009$,2010,2010$,2011,2011$,2012,2012$,...,2017,2017$,2018,2018$,2019,2019$,2020,2020$,2021,2021$
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
África do Sul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
"Alemanha, República Democrática",265742,429970,225086,393482,27715,138666,36070,144150,8189,56342,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
Angola,25721,71083,54786,84235,33557,189891,13889,69001,2833,8861,...,10170,61680,477,709,345,1065,0,0,0,0
Anguilla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvalu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,4,0,0
Uruguai,0,0,0,0,914,2929,1238,4404,1135,3879,...,0,0,7711,29617,6180,18497,0,0,136774,149842
Vanuatu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,18,31,0,0
Venezuela,0,0,0,0,0,0,0,0,1029,7492,...,680,2646,71,355,0,0,4086,9808,26415,35944
Vietnã,0,0,743,2143,8820,9977,0,0,0,0,...,0,0,0,0,20,32,86,584,0,0

In [175]:
columns_valor = [col for col in df.columns if '$' in col]
columns_qtd = [col for col in df.columns if '$' not in  col]
df_valor = df[columns_valor]
df_volume = df[columns_qtd]

In [176]:
df_valor['Total$'] = df_valor.sum(axis=1)

C:\Users\luiz7\AppData\Local\Temp\ipykernel_15540\4083182781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valor['Total$'] = df_valor.sum(axis=1)

In [177]:
df_valor.loc['total']= df_valor.sum() 
df_valor

C:\Users\luiz7\AppData\Local\Temp\ipykernel_15540\2542579347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valor.loc['total']= df_valor.sum()

,2008$,2009$,2010$,2011$,2012$,2013$,2014$,2015$,2016$,2017$,2018$,2019$,2020$,2021$,Total$
País,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,46,46
África do Sul,0,0,0,0,0,0,0,0,0,0,0,95,21,0,116
"Alemanha, República Democrática",429970,393482,138666,144150,56342,265978,761653,44780,68109,87702,45382,25467,32605,6741,2501027
Angola,71083,84235,189891,69001,8861,9300,23124,17089,35390,61680,709,1065,0,0,571428
Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguai,0,0,2929,4404,3879,13343,0,0,0,0,29617,18497,0,149842,222511
Vanuatu,0,0,0,0,0,0,0,0,0,0,0,0,31,0,31
Venezuela,0,0,0,0,7492,0,232,0,0,2646,355,0,9808,35944,56477
Vietnã,0,2143,9977,0,0,0,0,0,0,0,0,32,584,0,12736
total,7118100,8940988,2595303,3615120,5521293,22744845,7472795,2769160,4434704,7135607,7486063,5934826,6078288,9851896,101698988

In [178]:
df_volume['Total'] = df_volume.sum(axis=1)
df_volume.loc['total']= df_volume.sum() 
df_volume

C:\Users\luiz7\AppData\Local\Temp\ipykernel_15540\4148745195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volume['Total'] = df_volume.sum(axis=1)
C:\Users\luiz7\AppData\Local\Temp\ipykernel_15540\4148745195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_volume.loc['total']= df_volume.sum()

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
País,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,11,11
África do Sul,0,0,0,0,0,0,0,0,0,0,0,26,4,0,30
"Alemanha, República Democrática",265742,225086,27715,36070,8189,61699,213348,10680,14012,15467,10794,3660,6261,2698,901421
Angola,25721,54786,33557,13889,2833,1573,12182,1908,7359,10170,477,345,0,0,164800
Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguai,0,0,914,1238,1135,1526,0,0,0,0,7711,6180,0,136774,155478
Vanuatu,0,0,0,0,0,0,0,0,0,0,0,0,18,0,18
Venezuela,0,0,0,0,1029,0,14,0,0,680,71,0,4086,26415,32295
Vietnã,0,743,8820,0,0,0,0,0,0,0,0,20,86,0,9669
total,10346323,25514198,1280574,1214834,5775376,9149059,2324029,1198479,1786549,2889572,3856162,3152873,4409717,8058673,80956418

In [179]:
df_valor=df_valor.rename(columns=lambda c: c.replace('$',''))
df_valor

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
País,,,,,,,,,,,,,,,
Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,46,46
África do Sul,0,0,0,0,0,0,0,0,0,0,0,95,21,0,116
"Alemanha, República Democrática",429970,393482,138666,144150,56342,265978,761653,44780,68109,87702,45382,25467,32605,6741,2501027
Angola,71083,84235,189891,69001,8861,9300,23124,17089,35390,61680,709,1065,0,0,571428
Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguai,0,0,2929,4404,3879,13343,0,0,0,0,29617,18497,0,149842,222511
Vanuatu,0,0,0,0,0,0,0,0,0,0,0,0,31,0,31
Venezuela,0,0,0,0,7492,0,232,0,0,2646,355,0,9808,35944,56477
Vietnã,0,2143,9977,0,0,0,0,0,0,0,0,32,584,0,12736
total,7118100,8940988,2595303,3615120,5521293,22744845,7472795,2769160,4434704,7135607,7486063,5934826,6078288,9851896,101698988

In [166]:
linha1 = df_valor.loc['total']
linha2 = df_volume.loc['total']
resultado = linha1/linha2
df_resultado = pd.DataFrame(resultado)

In [167]:
df_resultado.T.head(15)

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
total,0.687984,0.350432,2.026672,2.975814,0.956006,2.486031,3.215448,2.310562,2.482274,2.469434,1.941325,1.882355,1.378385,1.222521,1.256219

# construir  tabela contendo:
a.Pais de Origem (Brazil)\
b.País de destino\
c.Quantidade em litros de vinho exportado (1kg=1 litro)\
d.Valor em US$